<nav class="navbar">
        <div class="container">
            <a href="/" class="logo ms-5">MUNify</a>
            <ul class="nav-menu mt-3 me-5">
                <li><a href="/conferences">My MUNs</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="#" class="logout-btn">Logout</a></li>
            </ul>
        </div>
    </nav>