
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo ms-5">MUNify</a>
            <ul class="nav-menu mt-3 me-5 fs-6">
                <li><a href="#">Overview</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Committees</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <a href="#" class="login-btn me-5">Login</a>
        </div>
    </nav>